/.vs
/src/.vs
/src/DesignPatterns.Bridge/bin
/src/DesignPatterns.Bridge/obj
/src/DesignPatterns.State/bin
/src/DesignPatterns.State/obj
/src/DesignPatterns.Strategy/bin
/src/DesignPatterns.Strategy/obj
/src/DesignPatterns.Memento/bin
/src/DesignPatterns.Memento/obj